.banner {

  position: absolute;
  background: url("https://wovenmagazine.com/content/uploads/2019/09/01-CodyCobb_banner.jpg")
    center center;
  width: 100%;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__left {
  color: white;
}
.banner__title {
 border: 2px solid white;
 max-width: 250px;
 margin: auto;
 height: 10vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.banner_info {
  color: white;
  padding-top: 20vh;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: inherit;
  width: 300px;
}
.banner_search {
  display: flex;
  flex-direction: column;
}
