.banner {

  position: absolute;
  background: url("https://wovenmagazine.com/content/uploads/2019/09/01-CodyCobb_banner.jpg")
    center center;
  width: 100%;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__left {
  color: white;
}

.banner_info {
  color: white;
  padding-top: 20vh;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: inherit;
  width: 300px;
}
.banner_search {
  display: flex;
  flex-direction: column;
}
.banner__content {
  text-align: center;
  width: 100%;
  color: antiquewhite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.banner__content > h2 {
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.banner__content > h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.banner__content > button {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.banner__content > button:hover {
  transform: scale(1.07);

}