.searchPage__info {
  display: flex;
    padding: 10px;
  }

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
}

.searchPage__info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
  }
  .search_button {
    display: flex;
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    justify-content: space-evenly;
    
  }
  .search_button {
    border-color: grey;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    
  }