.tasker_homepage {
  background-color: white;
  padding: 200px;
  transition: transform 100ms ease-in;

}
.taskerhome_container {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
}
.tasker_homepage:hover {
    transform: scale(1.07);
}